/* Hemen index.html-ren estiloa eta alde bisuala landuko eta difinituko da */

body{
  background-image: url("banner.jpg");
  background: linear-gradient(rgba(5,7,12,0.75), rgba(5,7,12,0.75));
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.content {
  max-width: 350px;
  margin: auto;
}

.php {
  background-color: rgb(135, 223, 235);
  border: 2px solid black;
  border-radius: 5px;
  position: center;
  max-width: 600px;
  margin: auto;
}
.inputak {
  background-color: rgb(88, 144, 216);
  border: 2px solid black;
  border-radius: 5px;
  position: center;
}
.botoiak {
  background-color: rgb(88, 144, 216);
  border: 2px solid black;
  border-radius: 5px;
  position: center;
}

